* {
  margin: 0;
}

/*LAYOUT*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 25px 1fr;
  width: 100vw;
}

.main-image {
  display: grid;
  grid-area: 1 / 1 / 2 / 5;
}

.space {
  display: grid;
  grid-area: 2 / 1 / 3 / 5;
}

.gallery-images {
  display: grid;
  grid-area: 3 / 1 / 4 / 5;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* POSITIONING */

.hero {
  position: relative;
}

.hero div {
  position: absolute;
}

.group {
  position: relative;
}

.group div {
  position: absolute;
}

/* BLOCK STYLING */

header {
  background-color: #324ab2;
  padding: 25px;
}

.main-image {
  background-color: #ededed;
}

/* IMAGE STYLING */

.main-image img {
  width: 860px;
  height: auto;
  padding: 10px;
}

.image-grid img {
  width: 200px;
  height: auto;
  padding: 10px;
}

/* TEXT STYLING */

header h1, header p, .hero h2, .image-grid div {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
}
